<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8">
    <script>

        function ShowSidebar() {
            var x = document.getElementsByClassName("sidebar-base");
            x[0].style.opacity = "0.95";
            x[0].style.left = "0px";
            document.getElementsByClassName("trigger")[0].style.display = "none";
        }

        function HideSidebar() {
            var x = document.getElementsByClassName("sidebar-base");
            x[0].style.left = "-500px";
            document.getElementsByClassName("trigger")[0].style.display = "block";;
        }

    </script>
</header>

{{ .CSS }}

<body>
    <button class="trigger" onclick="ShowSidebar()" onmouseover="ShowSidebar()">
        〉
    </button>

    <div class="sidebar-base">
        {{ .Button }}
    </div>

    <div onclick="HideSidebar()" onscroll="HideSidebar()" onpointerdown="HideSidebar()">
        <div class="markdown">
            {{ .Body }}
        </div>

        <div style="height: 200px;"></div>
    </div>
</body>

</html>