<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <script>

        function ShowSidebar() {
            var x = document.getElementsByClassName("sidebar");
            x[0].style.opacity = "0.95";
            x[0].style.left = "0px";
            document.getElementsByClassName("trigger")[0].style.display = "none";
        }

        function HideSidebar() {
            var x = document.getElementsByClassName("sidebar");
            x[0].style.left = "-500px";
            document.getElementsByClassName("trigger")[0].style.display = "block";;
        }

    </script>
</header>

<body onclick="HideSidebar()" onscroll="HideSidebar()">
    <button class="trigger" onclick="ShowSidebar()" onmouseover="ShowSidebar()">
        〉
    </button>

    <div class="sidebar">
        {{ .Button }}
    </div>

    <div class="markdown">
        {{ .Body }}
    </div>

    <div style="height: 200px;"></div>

</body>

</html>