{{ define "style" }}
<style>
    :root {
        --title: rgba(36, 41, 47);
        --quote-shadow: rgba(208, 215, 220);
        --code-shadow: rgba(239, 241, 243);
        --block-shadow: rgba(246, 248, 250);
    }

    a {
        text-decoration: none;
    }

    body {
        font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;

        -webkit-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    h1,
    h2 {
        word-spacing: -5px;
        color: var(--title);
        border-bottom: 1px var(--quote-shadow) solid;
        padding-bottom: 5px;
        margin-top: 70px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    li,
    ul,
    ol {
        margin: 10px 0;
    }

    blockquote {
        font-size: 20px;
        color: #666661;
        border-left: 4px var(--quote-shadow) solid;
        padding-left: 30px;
        margin: 0;
        line-height: 30px;
    }

    pre {
        padding-left: 30px;
        border-radius: 5px;
        background-color: var(--code-shadow);
        line-height: 25px;

        -webkit-user-select: text;
        -moz-user-select: text;
        -o-user-select: text;
        user-select: text;
    }

    code {
        font-size: 15px;
        padding: 3px 5px;
        border-radius: 3px;
        font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono;
        background-color: var(--code-shadow);
    }

    pre code {
        background-color: transparent;
    }

    .markdown {
        font-size: 18px;
        font-weight: 400;
        font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
        padding-left: 30px;
        width: 70%;
        margin-left: 300px;
    }


    .sidebar {
        position: fixed;
        top: 5%;
        width: 300px;
    }

    .sidebar-font-medium {
        font-size: 20px;
        margin: 10px 0 10px 10%;
    }

    .sidebar-font-small {
        font-size: 14px;
        margin-left: 12%;
    }


    .sidebar-button {
        display: block;
        padding-bottom: -5px;
        height: 30px;
        background-color: transparent;
        border: 1px transparent solid;
    }

    .sidebar-button:hover {
        /* background-color: #eee; */
        opacity: 0.5;
        border-bottom: 1px gray solid;
    }
</style>
{{ end }}